*-debug.log
*-error.log
/.nyc_output
/dist
/tmp
/yarn.lock
node_modules
temp
examples/*
examples-commander/*
examples-enquirer/*

*.DS_Store
.idea
admin
index-cli.js
index-bash.sh
src/h-world-new/*

src/app/*
!src/app/channels/.gitkeep
!src/app/channels/channel-custom.js
!src/app/components/.gitkeep
!src/app/traits/.gitkeep
